.infoTable {
  margin-top: 20px;
}

.infoTable table {
  width: 100%;
  border-collapse: collapse;
}

.infoTable th, .infoTable td {
  border: 1px solid var(--corTable1);
  padding: 8px;
  text-align: center;
}

.infoTable th {
  background-color:var(--corPrincipal);
  color: var(--corSecundaria);
}

.highlight {
  background-color: var(--corAdver);
}